language: cpp

addons:
  apt:
    packages:
      - libyaml-cpp-dev

jobs:
  include:
    - name: GCC on Linux (Focal)
      os: linux
      dist: focal
      compiler: gcc

    - name: Clang on Linux (Focal)
      os: linux
      dist: focal
      compiler: clang

    - name: Sonarcloud
      os: linux
      dist: focal
      addons:
        apt:
          packages:
            - libyaml-cpp-dev
        sonarcloud:
          organization: "dokempf"
          token:
            secure: "PQPdRiIPSZX840YBeOpFp8z4F8oln+dQtILvXg+Rt5W0sEFoEtbuy1lM7i1r/+hnFaIzYi/Ur5vIX5RvVRlOCgQsNLTxr4rKnvKS+mN5zPw+ztOEvi5rA3UHxL6sUgdozSsGvwJCMvMajibHmP48GHnJeXMKlF7qfjofkii2PWlSquS1MZ0ezzEWgZrGxLM23ipeB04ZSHzeByzsIpsE0elIZWR8gVen7Ej7hQ3MsFapcpjLt+/OTdev+i3qX/QL5sQ9XlvMGVzyDCqJSqLIYGFLiAQwwiTM0hRFqro40sOdPhzbT7Ncplr43RIUtFFAuXsf4G85cQeZI5zYJHne5XKawiR4EG2bWZ2JCsL2Vcz41jF0m2xp9uDCD64DiiJv+LNv44llOo4pxmMwSZZ3EbW9Ce5gXuqe/vyIpclbp2r5b6zvK7iZ/B0O04arU62B9t2Egv3w8ZEvuZBpMni4vC/4ktnS76x+EtqfokaGDyVTPG8G6+jHI4O2sBnDkEvWyaRe/jwet64xV3UOAxFwdOr3f4Fa8s9Ym0aTn2mNIFK6VayFzR8sPRiLR1xvijir09HQol5pC76VyZ3yQEmMHkH4ojAxMkPjb+1tTSRZn4Et/pfNWeIKRBdTEobpL17wBNmnw0BqwFiYZOg0wRvOnlFimLcXmfWVcemiYUb8ER4="
      script:
        - mkdir build
        - cd build
        - cmake -DCMAKE_CXX_STANDARD=14 -DCMAKE_CXX_FLAGS="--coverage" ..
        # Wraps the compilation with the Build Wrapper to generate configuration (used
        # later by the SonarScanner) into the "bw-output" folder
        - build-wrapper-linux-x86-64 --out-dir bw-output make -j2 build_tests
        - ctest
        - mkdir gcov-report
        - cd gcov-report
        - gcov -p ../test/CMakeFiles/testvalidation.dir/testvalidation.cc.gcno > /dev/null
        - find . -type f ! -name '*cerberus-cpp#cerberus-cpp#*.hh.gcov' -delete
        - cd ../..
        # And finally run the SonarCloud analysis - read the "sonar-project.properties"
        # file to see the specific configuration
        - sonar-scanner

script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_CXX_STANDARD=14 ..
  - make -j2 build_tests
  - ctest
